extends base.pug

append main_vars
  - css_main.push.apply(css_main, ["css/projects.css"])
  - js_main.push.apply(js_main, ["js/projects.js"])

block content

  //- - var projects = [
  //-     {
  //-       title: "Hot Dog or Not",
  //-       description: "App that uses a Vision Transformer (ViT) model to classify images as hot dogs or not hot dogs.",
  //-       img: "images/hot_title.png",
  //-       url: "hot_dog.html"
  //-     },
  //-     {
  //-       title: "DARTs!",
  //-       description: "You take a picture of dartboard and app will tell you what score you got for each dart. Heavily depends on OpenCV for perspective transformation.",
  //-       img: "images/title.png",
  //-       url: "game.html"
  //-     },
  //-     {
  //-       title: "LASIK Surgery",
  //-       description: "Using Reddit's API I scrapped Subreddit where people share their experience with LASIK surgery. Hop here for some insights I found.",
  //-       img: "images/hot_desc.jpg",
  //-       url: "lasik.html"
  //-     },
  //-     {
  //-       title: "Gun Violence",
  //-       description: "A data visualization project that explores gun violence in the United States. Take a look at the interactive map!",
  //-       img: "images/hot_desc.jpg",
  //-       url: "gun_violence.html"
  //-     },
  //-     {
  //-       title: "Amex Housing",
  //-       description: "I asked python to buy me a house in Ames, Iowa.",
  //-       img: "images/hot_desc.jpg",
  //-       url: "house.html"
  //-     },
  //-     {
  //-       title: "Everything",
  //-       description: "Ongoing project. How to detect literally anything on the image at once?",
  //-       img: "images/everything_title.jpg",
  //-       url: "everything.html"
  //-     }
  //- ]

  - var projects = [{title: "Hot Dog or Not", description: "App that uses a Vision Transformer (ViT) model to classify images as hot dogs or not hot dogs.", img: "images/hot_title.png", url: "hot_dog.html"}, {title: "DARTs!", description: "You take a picture of dartboard and app will tell you what score you got for each dart. Heavily depends on OpenCV for perspective transformation.", img: "images/title.png", url: "game.html"}, {title: "LASIK Surgery", description: "NLP. Using Reddit's API I scrapped Subreddit where people share their experience with LASIK surgery. Hop here for some insights I found.", img: "images/hot_desc.jpg", url: "lasik.html"}, {title: "Gun Violence", description: "A data visualization project that explores gun violence in the United States. Take a look at the interactive map!", img: "images/hot_desc.jpg", url: "gun_violence.html"}, {title: "Amex Housing", description: "I asked python to buy me a house in Ames, Iowa.", img: "images/hot_desc.jpg", url: "house.html"}, {title: "Everything", description: "Ongoing project. How to detect literally anything on the image at once?", img: "images/everything_title.jpg", url: "everything.html"},];
  .projects-container
    h1#projects-title Here are some of my projects
    .projects-wrapper
      each project in projects
        .project-card
          a.project-link(href=project.url)
            .project-img-wrapper
              img.project-img(src=project.img, alt=project.title)
              .project-hover-text
                h3= project.title
                p= project.description